.btn {
  height: 55px;
}
.imgUploadBtn {
  margin: 0px 5px;
  transition: background 0.2s;
  height: 55px;
  width: 65px;
  padding: 25px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formGroup {
  display: flex;
  width: 100%;
}

.hidden {
  display: none;
}

.selectedImg {
  border-radius: 3px;
  object-fit: cover;
  height: 55px;
  width: 65px;
  opacity: 1;
  transition: opacity 0.2s;
}
.overlay {
  opacity: 0;
  object-fit: cover;
  height: 55px;
  width: 65px;
  position: absolute;
  transition: opacity 0.2s;
}

.selected {
  cursor: pointer;
  object-fit: cover;
  height: 55px;
  width: 65px;
  margin: 0px 5px;
}

.selected:hover .selectedImg {
  opacity: 0.4;
}
.selected:hover .overlay {
  opacity: 1;
}

.deleteImgIcon {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.paper {
  border: "2px solid #000";
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
